*{
    margin: 0px;
    padding: 0px;
    
}
body{
    
    background-image: url(../img/bosque2.jpg);
    background-attachment: fixed;
    background-attachment: "shorthand";
    background-size: 100% 100%;
}
#containergeneral{
    margin: 0px auto;
    max-width: 1115px;
    height: 800px;
    background-color: rgba(0, 0, 255, 0);
}
.container{
    width: 90%;
    max-width: 1400px;
    max-height: 77.5px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
   
}
.container>img{
    height:75px;
    width:80px;
    margin-bottom: 5px;
}

.header{
    background-color: rgba(255, 255, 255, 0.815);
    width: 1115px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 101;
    left: 0px;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 20px 20px;
}
    .header a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navigation ul{
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
        margin: 5px;
    }
        .navigation ul li a{
            display: block;
            padding: 15px 15px;    
            transition: 0.6s;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 13.4pt;
        }
            .navigation ul li a:hover{
                background-color: rgba(40, 161, 6, 0.644);
                border-radius: 10px;
                color: cornsilk;
                
                
            }
.animacion{
    max-width: 1115px;
    height: 218px;
    margin: 100px auto 25px auto;
    background-color: rgba(255, 0, 0, 0);
}
.section{
    height: 500px;
    width: 650px;
    float: left;
    margin-left: 7.5px;
    margin-right: 0px;
    background-color: rgba(132, 0, 255, 0);
    
}
.section p{
    font-size: 14pt;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-align: justify;
    margin: 0px;
    padding: 10px 50px 10px 50px;
    background-image: url(../img/fondoop.jpeg);
    opacity:0.8;
    border-radius: 20px;
    background-size: 100% 100%;
    
}
.section img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 45%;
    border-radius: 10px;
    border: 3px dashed white;
    
}
.aside{
    height: 500px;
    width: 400px;
    float: right;
    background-color: rgba(17, 107, 37, 0.726);
    transition: 0.6s;
}
    .aside h2{
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        background-color: rgba(100, 76, 31, 0.733);
        color: wheat;
        margin: 0px auto;
        padding: 5px;
        letter-spacing: 2px;
    }
    .aside p{
        font-family: 'Trebuchet MS';
        font-size: 13pt;
        padding-left: 15px;
        letter-spacing: 1px;
        font-weight: bold;
        color: wheat;
        transition: 0.6s;
    }
    .aside audio{
        padding-left: 15px ;
    }
    .aside:hover{
        background-color: rgba(153, 205, 50, 0.5);  
           
    }
    .aside:hover p{
        color: rgb(8, 29, 6);
    }
        

  