*{
    margin: 0px;
    padding: 0px;
    
}
body{
    
    background-image: url(../img/bosque.jpg);
    background-size: 100%;
}
#containergeneral{
    margin: 100px auto;
    max-width: 1115px;
    height: 1550px;
    background-color: rgb(255, 0, 55);
}
.container{
    width: 90%;
    max-width: 1400px;
    max-height: 77.5px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
   
}
.container>img{
    height:75px;
    width:80px;
    margin-bottom: 5px;
}

.header{
    background-color: rgba(255, 255, 255, 0.815);
    width: 1115px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 101;
    left: 0px;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 20px 20px;
}
    .header a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navigation ul{
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
        margin: 5px;
    }
        .navigation ul li a{
            display: block;
            padding: 15px 15px;    
            transition: 0.6s;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 13.4pt;
        }
            .navigation ul li a:hover{
                background-color: rgba(40, 161, 6, 0.644);
                border-radius: 10px;
                color: cornsilk;
                
                
            }