*{
    margin: 0px;
    padding: 0px;
    
}
body{
    
    background-image: url(../img/bosque.jpg);
    background-attachment: fixed;
    background-attachment: "shorthand";
    background-size: 100%;
}
#containergeneral{
    margin: 100px auto;
    max-width: 1115px;
    height: 2400px;
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 20px;
}
.container{
    width: 90%;
    max-width: 1400px;
    max-height: 77.5px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
   
}
.container>img{
    height:75px;
    width:80px;
    margin-bottom: 5px;
}

.header{
    background-color: rgba(255, 255, 255, 0.815);
    width: 1115px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 101;
    left: 0px;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 20px 20px;
}
    .header a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navigation ul{
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
        margin: 5px;
    }
        .navigation ul li a{
            display: block;
            padding: 15px 15px;    
            transition: 0.6s;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 13.4pt;
        }
            .navigation ul li a:hover{
                background-color: rgba(40, 161, 6, 0.644);
                border-radius: 10px;
                color: cornsilk;
            }
.main{
    height: 2000px;
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(177, 226, 43, 0);
    padding: 30px;
    padding-top: 10px;
    border-radius: 30px;
    background-size: 100%;
}
    .main h1,.main h2{
        font-family: 'Trebuchet MS';
        font-size: 18pt;
        background-image: url(../img/main.jpeg);
        background-size: 100% 100%;
        color: rgb(0, 0, 0);
        padding:  5px;
        width: 430px;
        margin-left: 30px;
        box-shadow: 2px 2px 2px;
        border-radius: 5px;
    }
    .main h1{
        text-align: center;
        margin: 0px auto;
        width: 500px;
    }
    
    
    .main p{
        font-size: 13.5pt;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
        text-align: justify;
        margin: 0px;
        padding: 5px 50px 5px 50px;
        background-image: url(../img/fondotexto.jpg);
        background-size: 100% 100%;
        border-radius: 10px;
        opacity: 0.8;
    }
    .main .imgmedioambiente{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        width: 50%;
        border-radius: 10px;
        border: 3px dashed white;
            
    }
    .main .imgorganismosvivos{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 60px;
        margin-bottom: 20px;
        display: block;
        float: left;
        width: 40%;
        border-radius: 10px;
        border: 3px dashed white;
            
    }
    .clearfix{
        clear:both;
        float: none;
    }
    .main .imgaguayaire{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 60px;
        margin-bottom: 20px;
        display: block;
        float: left;
        width: 40%;
        border-radius: 10px;
        border: 3px dashed white;
    }
    .main .imgtempyacc{
        margin-top: 10px;
        margin-right: 0px;
        margin-left: 60px;
        margin-bottom: 20px;
        display: block;
        float: left;
        width: 40%;
        border-radius: 10px;
        border: 3px dashed white;
    }
    