*{
    margin: 0px;
    padding: 0px;
    
}
body{
    
    background-image: url(../img/bosque.jpg);
    background-attachment: fixed;
    background-attachment: "shorthand";
    background-size: 100%;
    

}
#containergeneral{
    margin: 100px auto;
    max-width: 1115px;
    height: 4120px;
    background-color: rgb(124, 156, 216, 0.685);
    border-radius: 30px;
    
    
}
.container{
    width: 90%;
    max-width: 1400px;
    max-height: 77.5px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0);
   
}
.container>img{
    height:75px;
    width:80px;
    margin-bottom: 5px;
}

.header{
    background-color: rgba(255, 255, 255, 0.815);
    width: 1115px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    z-index: 101;
    left: 0px;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 20px 20px;
}
    .header a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.navigation ul{
    list-style: none;
}
    .navigation ul li{
        display: inline-block;
        margin: 5px;
    }
        .navigation ul li a{
            display: block;
            padding: 15px 15px;    
            transition: 0.6s;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 13.4pt;
        }
            .navigation ul li a:hover{
                background-color: rgba(84, 136, 204, 0.644);
                border-radius: 10px;
                color: cornsilk;
                
                
            }

.main{
    height: 4080px;
    width: 1055px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(124, 182, 209, 0.685);
    padding: 30px;
    padding-top: 10px;
    border-radius: 30px;
    background-size: 100%;
}

.main h1,.main h2{
    font-family: 'Trebuchet MS';
    font-size: 18pt;
    background-image: url(../img/main.jpeg);
    color: rgb(53, 49, 49);
    padding:  5px;
    width: 460px;
    margin-left: 40px;
    box-shadow: 2px 2px 2px;
    border-radius: 5px;
}
.main h1{
    text-align:start;
    margin: 0px auto;
    width: 500px;
}

.main p{
    font-size: 13.5pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    text-align: justify;
    margin: 0px;
    padding: 5px 50px 5px 50px;
    color:rgb(104, 13, 99);
    background-size: 100% 100%;
                    
}

.main h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
    color: rgb(7, 90, 60);
    text-align: justify;
    margin: 0px;
    padding: 5px 50px 5px 50px;
    
    background-size: 100% 100%;
}

.main a {
    color: rgb(24, 35, 141);
    font-family: 'Trebuchet MS';
    font-size: 18pt;
    
    
}