*{
    margin: 0px;
    padding: 0px;
}
#Cabecera{
    width: 100%;
    height: 57px;
    background-color: #2e3842;
}
img{
    margin-left: 18px;
}
#Banner{
    width: 100%;
    height: 601px;
    background-color: cornflowerblue;
}

.CuadroSol1{
    width: 100%;
    height: 95px;
    background-color:#21b2a6 ;
}
.CuadroSol2{
    width: 100%;
    height: 251px;
    background-color: #21b2a6;
    
}
.CuadroSol3{
    width: 100%;
    height: 100px;
    background-color: #21b2a6;
}
.CuadroSol4{
    width: 680px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    background-color: #21b2a6;
}
.CuadroSol5{
    width: 110px;
    height: 110px;
    float: left;
    margin: 60px 33px 0px 27px;
    background-color: #e62b9100;
    justify-content: space-between;
}
.CuadroSol5 p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14.5px;
    color: #fff;
    margin-top: 5px;
}


.Cuadro{
    width: 180px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 0, 0, 0);  
    border-bottom: 2px solid #1d9c91;
    margin-bottom: 40px;
   
}
.Cuadro p{
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 4.5px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    
}
#CuadroInformativo{
    width: 100%;
    height: 1200px;
    background-color: #2e3842;
}
#PiedePagina{
    width: 100%;
    height: 560px;
    background-color: cornflowerblue;

}
