*{
    margin: 0px;
    padding: 0px;
}
#Cabecera{
    width: 100%;
    height: 57px;
    background-color: #2e3842;
}
img{
    margin-left: 18px;
}
#Banner{
    width: 100%;
    height: 601px;
    background-color: cornflowerblue;
}

.CuadroSol1{
    width: 100%;
    height: 95px;
    background-color:#21b2a6 ;
}
.CuadroSol2{
    width: 100%;
    height: 251px;
    background-color: #21b2a6;
    
}
.CuadroSol3{
    width: 100%;
    height: 100px;
    background-color: #21b2a6;
}
.CuadroSol4{
    width: 680px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
    background-color: #21b2a6;
}
.CuadroSol5{
    width: 110px;
    height: 110px;
    float: left;
    margin: 60px 33px 0px 27px;
    background-color: #e62b9100;
    justify-content: space-between;
}
.CuadroSol5 p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14.5px;
    color: #fff;
    margin-top: 5px;
}


.Cuadro{
    width: 180px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 0, 0, 0);  
    border-bottom: 2px solid #1d9c91;
    margin-bottom: 40px;
   
}
.Cuadro p{
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 4.5px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    
}
#CuadroInformativo{
    width: 100%;
    height: 1200px;
    background-color: #2e3842;
}
#PiedePagina{
    width: 100%;
    height: 560px;
    background-color: cornflowerblue;

}

body, input, select, textarea {
    color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.65em;
}

strong, b {
color: #fff;
font-weight: 600;
}

p {
margin: 0 0 2em 0;
}

h1, h2, h3{
color: #fff;
font-weight: 800;
letter-spacing: 0.225em;
line-height: 1em;
margin: 0 0 1em 0;
text-transform: uppercase;
}

h1 a, h2 a, h3 a{
    color: inherit;
    text-decoration: none;
}

h2 {
font-size: 1.35em;
line-height: 1.75em;
}

@media screen and (max-width: 736px) {

    h2 {
        font-size: 1.1em;
        line-height: 1.65em;
    }

}

h3 {
font-size: 1.15em;
line-height: 1.75em;
}

@media screen and (max-width: 736px) {

    h3 {
        font-size: 1em;
        line-height: 1.65em;
    }

}

blockquote {
border-left: solid 4px #fff;
font-style: italic;
margin: 0 0 2em 0;
padding: 0.5em 0 0.5em 2em;
}

header h3 + p {
font-size: 9.1em;
}

header.hover {
margin: 0 0 3.5em 0;
}

header.hover h2, header.hover h3 {
    border-bottom: solid 2px #fff;
    display: inline-block;
    padding-bottom: 1em;
    position: relative;
}

    header.hover h2:after, header.hover h3:after{
        content: '';
        display: block;
        height: 2px;
    }

header.hover p {
    color: #fff;
    top: 0;
}

